@{
    ViewBag.Title = "Trade Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="info">WEB интерфейс для работы с таблицами Customers и Orders базы данных торговой компании. <br /><br />Основные фукнции: <br />  <br />ПРОСМОТР, ДОБАВЛЕНИЕ, УДАЛЕНИЕ, ИЗМЕНЕНИЕ</p>